[Unit]
Description=Do It Yourself Home Automation Admin 
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/admin/admin.py --mq chuck.local --lt diy/upper/guest --ws marion.local 
[Install]
WantedBy=multi-user.target
